.cards-container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 20px;
  grid-row-gap: 7px;
}

mat-form-field {
  color: yellow;
  display: block !important;
  width: 95%;
  margin: 10px auto !important;
  border-color: yellow;
}
