<div *ngIf="search.value == ''">
  Search for any Star Wars character
</div>
<form>
  <mat-form-field>
    <input matInput #search=ngModel type="search" placeholder="search" name="searchStr" [(ngModel)]="searchStr" (keyup)="getPeople()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<div class="cards-container" *ngIf=" searchStr.length > 0 && search.dirty" [sortablejs]="searchResults" [sortablejsOptions]="options">
  <app-sw-search-results *ngFor="let result of searchResults" [result]="result"></app-sw-search-results>
</div>
<div *ngIf="searchResults.length == 0 && search.dirty">
  "One with such name is fount not" - Yoda.
</div>
