.cards-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  grid-column-gap: 5%;
  grid-row-gap: 15px;
}

@media screen and (max-width: 960px) {
  .cards-container {
    grid-template-columns: 100%
  }
}

mat-card {
  align-self: center;
  margin: 10px;
}

mat-form-field {
  color: yellow;
  display: block !important;
  width: 95%;
  margin: 10px auto !important;
  border-color: yellow;
}

div {
  margin: 15px;
  padding: 15px;
  text-align: center;
  color: yellow;
}
