.cards-container {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 15px;
  grid-row-gap: 7px;
}

mat-form-field {
  display: block !important;
  width: 95%;
  margin: 10px auto !important;
}
